---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Testing GTM and Partytown">
  <main class="space-y-4">
    <h1 class="text-2xl">Testing GTM and Partytown - Page One</h1>
    <p class="">
      This is Page One of a basic two page site with GTM and Partytown to test
      events being fired.
    </p>
    <p class="">
      Landing on this page should initiate GTM and fire a page view event.
    </p>
    <p class="">
      Navigate to <a class="text-blue-600" href="/pagetwo/"
        >Page Two to test the page view event there</a
      >.
    </p>
  </main>
</Layout>
