---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page 2 - Testing GTM and Partytown">
  <main class="space-y-4">
    <h1 class="text-2xl">Testing GTM and Partytown - Page Two</h1>
    <p class="">This is Page Two of the test site.</p>
    <p class="">Landing on this page should fire a page view event via GTM.</p>
    <p class="">
      Navigate back to <a class="text-blue-600" href="/"
        >Page One to test there too.</a
      >.
    </p>
  </main>
</Layout>
